/* CSS Micro Reset: https://github.com/vladocar/CSS-Micro-Reset */

body { margin: 0 }

h1, h2, h3, h4, h5, h6 { font-weight: normal }

table
{
 border-collapse: collapse;
 border-spacing: 0
}

th, td
{
 text-align: left;
 vertical-align: top
}

img, iframe { border: 0 }

/* the website */

body {
  padding: 1em;
  background-color: #2D5C59;
  color: #FFFFFF;
  font-family: Georgia, Times, Times New Roman, serif; 
}

h1 {
  margin: 4em auto;
  max-width: 20em;
}

h1 a {
  text-decoration: underline;
  color: #FFFFFF;
}

h1 a:hover {
  color: #FDAB7D
}